.container {
  max-width: 400px !important;
  margin: 0;
}

.has-text-primary {
  color:#003b5c !important;
}

.is-primary {
  background-color:#003b5c !important;
}

.is-family-primary {
  font-family: "Roboto", san-serif !important;
}

.is-hidden {
  display: none;
}